{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />


  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'ui/style.css' %}" />
  <title>bootstrap4</title>
</head>

<body>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-6 h-100">
        <div class="card h-100 border-primary justify-content-center">
          <div>
            <div class="card-body">
              <!-- <h3 class="card-title">Spotify Login</h3> -->

              {%if user.display_name%}
              <div class="row h-100 justify-content-center align-items-center">
                <img src="{{ user.images.0.url }}" alt="Avatar" class="avatar" />
              </div>
              <div class="row h-100 justify-content-center align-items-center">
                <p class="card-text">{{user.display_name}}</p>
              </div>
              <div class="row justify-content-center">
                <div class="lds-ripple">
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div id="div-album-current-playing" class="row h-100 justify-content-center align-items-center">
                <img id="img-album-current-playing" src="#" alt="Avatar" class="avatar" />
              </div>
              <div class="row h-100 justify-content-center align-items-center">
                <button id="" class="get-recommendations row" type="button">
                  <span>get recommendationsss</span>
                </button>
              </div>
              {%else%}
              <!-- {% block user_spotify %} {% endblock user_spotify %} -->
              <div class="row h-100 justify-content-center align-items-center">
                <p class="card-text">
                  Login with an existing Spotify account and behold greatness
                </p>
                <button id="btn_login" class="login-button row" type="button">
                  <div id="btn_container">
                    <img src="{% static 'ui/spo.png' %}" width="32" height="32" />
                  </div>
                  <span>login with spotify</span>
                </button>
              </div>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 h-100">

        {% for item in top_tracks %}
        {% if forloop.counter0|divisibleby:3 and forloop.counter0 is not 0 %} </div>
      {% endif %}
      {% if forloop.counter0|divisibleby:3%} <div class="justify-content-center row"> {% endif %}
        <div class="col-sm-4 mx-auto">
          <a class="stopme" href="{% url 'play_song' track_id=item.track_id %}">
            <img src="{{item.album_art}}" class="img-fluid" alt="..." />
          </a>
          <div class="justify-content-center align-items-center">
            <p class="card-text">{{item.name}}</p>
          </div>


        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <script>
    var btn_login = document.getElementById("btn_login");
    if (btn_login != undefined) {
      btn_login.addEventListener("click", popup);
    }


    function popup() {
      var win = window.open('login', 'pagename', 'resizable,height=800,width=800');
      var win_timer = setInterval(function () {
        if (win.closed) {
          window.location.reload();
          clearInterval(win_timer);
        }
      }, 100);
    }

    $('.stopme').click(function (event) {
      event.preventDefault();
      $.ajax({
        url: $(this).attr('href'),
        success: function (response) {
          //alert(response);
        }
      });
      return false; // for good measure
    });

    function showCurrentPlaying(data) {
      $(".lds-ripple").hide()
      $("#div-album-current-playing").show() //album-current-playing
      $("#img-album-current-playing").attr("src", data["album_art"]);
    }

    function hideCurrentPlaying() {
      $(".lds-ripple").show()
      $("#div-album-current-playing").hide() //album-current-playing
    }


    function waitForMsg() {
      /* This requests the url "msgsrv.php"
      When it complete (or errors)*/
      $.ajax({
        type: "GET",
        url: window.location.href + "current_playing",

        async: true,
        /* If set to non-async, browser shows page as "Loading.."*/
        cache: false,
        timeout: 50000,

        success: function (data) {
          if (jQuery.isEmptyObject(data)) {
            hideCurrentPlaying()
          } else {
            showCurrentPlaying(data)
          }
          setTimeout(
            waitForMsg,
            15000
          );
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          hideCurrentPlaying()
          setTimeout(
            waitForMsg,
            15000);
        }
      });
    };

    $(document).ready(function () {
      waitForMsg();
    });
  </script>
</body>

</html>